# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\McGill\U1 Fall\ECSE 223\ecse223-group-project-p13\ca.mcgill.ecse.flexibook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
